[LayoutSettings]
version=2

[Containments][1]
plugin=org.kde.latte.containment
location=4
visibility=2

[Containments][1][Applets][1]
plugin=org.kde.plasma.icontasks

[Containments][1][Applets][2]
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][3]
plugin=org.kde.plasma.digitalclock
